body{
    margin: 0;
    padding: 0;
}
 /* my first navbar div  */
.firstnav{
    display: flex;
    /* border: 2px solid red; */
    background-color: #316DC3;
    /* align-items: center;
    justify-content: center ; */
    width: 1349px;
    height: 48px;
}

 /* my first header  */


.headcontainer{
    width: 100%;

}
  /* my firstnavbar url  */
.saylanifirstul{
    list-style: none  ;
    display: flex;
    align-items: center;
    margin-right: 165px;
    margin-left: 65px;
}

.saylanifirstul li{
    display: flex;
    align-items: center;
    /* margin: 0px 4px;  */
}
.mainone{
    /* margin: 0px 38px; */
}
a{
    text-decoration: none;
}

/* first navbar icons  */

.saylanifirstul li i{
    color: white;
    background-color:  #316DC3 ;
    /* padding: 0px 12px; */
    margin: 0px 13px;
    font-size: 12px; 
}
  /* whatsapp image icon in first navbar */
.whatsimg{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    margin: 0px 8px;
}
.mywhatsimg{
    margin: 10px 0px;
}
  /* paragraph in navabar  */
.navpara{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;  
    font-size: 14px;
    margin-right: 60px;
    display: flex;
    align-items: center;
}
/* first navbar div class is buttons  */
.buttons{
    display: flex;
    align-items: center;
    width: 292.5px;
    height: 33px;
    margin-top: 7px;
}
 /* first navbar buttons  */
.buttons button{
    padding: 10px 0px;
    color: #427900; 
    font-family: 'Open Sans', sans-serif;   
    font-size: 11px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border: 1px solid black;
    height: 28px;
    width: 72.17px;
    margin: 0px 2px;
}
.button-2{
    width: 85.94px !important;
    height: 28px;
}
.button-3{
    width: 86.88px !important;
    height: 28px;
}
.intro-para{
    padding: 0px 300px 0px 300px;
    line-height: 15px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

    
}
.hr{
    background-color: darkblue;
    height: 3px;
}

/* logo image  */
.imglogo{
    width: 191.11px;
    height: 51.98px;
    display: inline-block;   
    margin-top: 4px;
    margin-right: 115px;
    margin-left: 95px;
    vertical-align: middle;
}
.main{
    display: flex;
    position:sticky;
    top: 0px;
}
.main::before{
    content: "";
    position: absolute;
    background-color: #f7f8fa !important;
    /* width: 1349px;
    height: 70px; */
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar-nav{
}
.mainone{
    display: flex;
    justify-content: center; 
    
}
.navbar-nav li {
    display: inline-block;
    /* padding: 18px 0px; */
    margin: 0px 0px;
    padding: 0px 0px;
    color: #666666;
} 
.navbar-nav li a:hover{
    color:  white !important;
    background-color: #316DC3;
}
.nav-active:active{
    color:  #f7f8fa;
    background-color: #316DC3;
    border-radius: 17px;
}
.nav-active:focus{
    color:  #f7f8fa;
    background-color: #316DC3;
    border-radius: 20px;
}
.navbar-nav li a{
    display: block;
    padding: 7px 22px ;
    font-family: 'Open Sans', sans-serif;   
    font-size: 13px;
    color: #333333;
    border-radius: 17px;
    font-weight: 600;

}
.collapse{
}
.indicator i{
    margin: 1px 5px;
    font-size: 11px;
    color: #333333;
    /* background-color: #f7f8fa !important; */
}
#main{
    background: url('background/saylani\ background.png') no-repeat center center/cover !important;
    min-height: 80vh;
}
.marqueecontainer{
    padding: 5px 10px;
    margin-bottom: 80px;
}
.firstmarquee{
    height: 28px;
    width: 80%;
    white-space: nowrap;
    background-color: #316DC3;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px auto;
    padding: 0px 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
marquee a{
    text-decoration: none;
    color: blue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.clblue{
    color:#00FF00;
}
    /* introduction start  */
    .intro-para{
        padding: 0px 300px;
        line-height: 15px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    .introhead{
        color:#316DC3;
        font-size: 32px;
        font-weight: 600;
        font-family: 'Merriweather', serif;
        display: flex;
        justify-content: center ;
        margin-bottom: 25px;
           }
    .duction{
        color:#427900  ;
        font-size: 32px;
        font-weight: 600;
        font-family: 'Merriweather', serif;
    }
    .title-icon {
        display: inline-block ;
        margin-bottom: 8px;
    }
    .intro div{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .intro-para p{
        text-align: justify;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #666666;
        line-height: 1.7;
        font-size: 16px;
        margin: 10px -119px 10px;
    }
    .section-title{
        margin-bottom: 30px;
    }
    .text-centre{
        text-align: center;
    }
    .row{
        margin-right: -15px;
        margin-left: -15px;
    }
    
    /* introduction end  */




    /* Section second start  */
    .title-icon::before{
        content: "";
        position: absolute;
        top: 52em;
        right: 38em;
        background: #427900;
        z-index: 1;
        width: 36px;
        height: 2px;
        margin: 9px 0px;
    }
    .title-icon::after{
        content: "";
        position: absolute;
        top: 52em;
        left: 38em;
        background: #427900;
        z-index: 1;
        width: 36px;
        height: 2px;
        margin: 9px 0px;
    }
    .about {
        background-color:rgba(36, 79, 242, 0.8);
        width: 100%;
        height: 300px;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: repeat-y;
    }
    .info{
        display: flex;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        background-color: rgba(36, 79, 242, 0.8);
        align-items: center;

    }
    .item-info{
        margin: 33px 0px;
    }
    .infoimg{
        margin: -35px 107px;
    }

    .info h1{
        font-size: 46px;
        font-family: 'Merriweather', serif;
        color: #ffffff;
        font-weight: 600;
        
    }
    .info h5{
        color: #ffffff;
       
        font-weight: 600;
        font-size: 14px;
        margin: -5px 0px;
        font-family: 'Merriweather', serif;
    }
    /* Section second end  */

    /* Section what we are doing start */

    /* .headingbox{
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .what-we{
        background-color: #f7f8fa !important;
        margin: 10px 0px;
    }
    .maincontainer{
        margin: -10px 0px;
        padding: 40px;
    }
    .what-we-heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .what-we-heading h1{
        color: #316DC3;
        font-size: 32px;
        font-family: 'Merriweather', serif;
        text-align: center;
        
    }
    .headingimg::before{
        content: "";
        height: 2px;
        width: 36px;
        position: absolute;
        top: 121em;
        right: 40em;
        background: #427900;
        z-index: 1;
        margin: 3px 3px;
    }
    .headingimg::after{
        content: "";
        height: 2px;
        width: 36px;
        position: absolute;
        top: 121em;
        left: 40em;
        background: #427900;
        z-index: 1;
        margin: 3px 3px;
    }
    .headingimg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxes{
        display: flex;
        justify-content: center;
    }

    .mainbox-1{
        display: flex;
        justify-content: space-around;
    }
    .mainbox-2{
        display: flex;
        justify-content: space-around;
    }
    .items-boxes{
        background-color: #fff;
        height: 185px;
        width: 360px;
        margin: 33px auto;
        box-shadow:0px 8px 20px 0px rgba(0, 0, 0, 0.16);
        
    }
    .items-boxes h1{
        font-size: 18px;
        font-family: 'Merriweather', serif;
        text-align: center;
        color: #316DC3;
        margin: -15px 2px;
        font-weight: 600;

    }
    .boximg{
       margin: 30px 142px;
    }
    
    /* Section what we are doing end  */

    /* Section our mission start  */
    .missionsect{
        margin-bottom: 200px;
    }
      
     .secondmarquee{
        height: 200px;
        width: 250px;
        color: #666666;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #ffffff;
    } */ 
    :host([direction="up"]),
    :host([direction="down"]) {
        overflow: initial;
        overflow-x: initial;
        overflow-y: hidden;
        overflow-y: hidden;
        white-space: intial;
    }
    :host{
        display: inline-block;
        text-align: initial;
    }
    .missionheading h3{
        color: #316DC3;
        font-size: 24px;
        font-family: 'Merriweather', serif; 
        margin: 65px 110px;
        
    }
    .box-container{
        display: flex;
        justify-content: space-around;
        margin: -65px 100px;
    }
    .marquee-container{
        margin: -65px 10px;
        padding: 0px 20px;
        width: 390px ;
        height: 291px;
    }
    .marquee-container h3{
        color: #316DC3;
        font-size: 24px;
        font-family: 'Merriweather', serif; 
    }
    .containers{
        color: #316DC3;
        font-size: 15px;
        font-family: 'Merriweather', serif; 
        display: flex;
        justify-content: flex-start;
        width: 360px;
        height: 70px;
        text-align: left;
        border: 1px solid #eeeeee;
        background-color: #F7F8FA;
        margin: 20px 10px;
    }
    .missionimg{
    padding: 0px 15px;
    margin: auto 0px;
    }
    .containers h5{
        text-align: left;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;       
        font-weight: 500;
        margin: auto 0px;
    }

    /* Section our mission end  */
    /* Image portfolio Section start  */
    .gallery{
        margin-bottom: 200px;
    }
    .images{
        display: flex;
        justify-content: center;
    }
    .imggallery{
        margin-bottom: 27px;
    }
    .imggalleryhead h1 {
        font-size: 32px;
    }
    .imggallery::before{
        content: "";
        height: 2px;
        position:absolute;
        right: 40em;
        top: 194em;
        width: 36px;
        background: #427900;
        z-index: 1;
        margin: 0px 0px;
    }
    .imggallery::after{
        content: "";
        height: 2px;
        position:absolute;
        left: 40em;
        top: 194em;
        width: 36px;
        background: #427900;
        z-index: 1;
        margin: 0px 4px;
    }
    .gallery-images{
        margin: 0px 1px;
    }
    
    /* Image portfolio Section end  */
    
    

/* footer start */
.bg{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-top: 80px;
    font-size: 14px;
    margin-right: -270px;
}
.bg ul li{
    margin:8px 0px ;
    font-size: 14px;
}
.bg ul{
    margin-left: 0px;
    padding: 0px;
}
.bg p{
}
.cg{
    padding: 0px;
    margin-right: 70px;
    margin-top: 60px;
}
.cg h5{
    font-size: 14px;
    font-family: 'Merriweather', serif;
    color: #f5f5f5;
        
}
.dg{
    margin-right: 50px;
    padding: 0px;
    margin-top: 60px;
}
.dg h5{
    font-size: 14px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: #f5f5f5;
}
.dg ul{
    padding: 0px;
    margin: 0px;
}
.dg ul li{
    display: inline-block;
    margin: 0px 3px;
    padding: 0px;
    background-color:#316DC3;
    border-radius: 30px;
}
.dg ul li a{
    text-decoration: none;
}
.dg ul li a i{
    padding: 10px 10px;
    font-size: 13px;
}
.sub-container{

    margin-bottom: 75px;
}
#footer{
    background-color: rgb(37, 39, 46) !important;
    color: #BBBBBB;
} 
.footerul{
    display: inline-block;
}
.footercontainer{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
.copy p{
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.copy{
    margin-left: 144px;
}
.copyright{
    background-color: #316DC3;
    width: 1349px;
    height: 43px;
    display: flex;
    align-items: center;
}

/* end of footer
/*  */
/* @media (max-height:1100px){
    .headcontainer{
        max-width: 100% ;
    }
}.saylanifirstul li img{
    margin-left: 10px;
}
.saylanifirstul {
    width: 100%;
    text-align: center;
    /* background-color: blue; */
    /* width: 300px;
    margin: auto;
}

.mainone{
    display: block;
    text-align: center;
    margin: 0px auto;
    
}
.navpara{
    display: block;
    text-align: center;
}
.buttons{
    display: block;
    margin-top: 10px;
} */ */
