.html{
    scroll-behavior: smooth;
}
.logoimg{
    height: 40px;
    width: 110px;
}
.opening_hour{
    font-size: 28px !important;
    font-weight: 400 !important;
    color: #252219;
    margin-bottom: 55px;
    margin-top: 37px;
}

 .leading-relaxed{
     margin-bottom: 30px;
 }
 nav{
    position: sticky !important;
    top: 0;
    right: 23px;
 }
 footer{
     background-color: #EDF2F7 !important;
     z-index: 1;
     color: rgba(237, 242, 247, 200);
 }
  .active:active{
     background-color: indigo !important;
     color: white;

 }
 .para{
     color: white !important;
 }
 .paragraph{
     
    text-transform: capitalize !important;
    
}